.publications-page {
  background-color: #DFE8DA;
  font-family: 'Inter', sans-serif;
  padding: 3rem 2rem;
  min-height: 100vh;
  color: #000;
}

/* ========== HEADERS ========== */
.publications-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 1rem auto;
  margin-bottom: 1rem;
  max-width: 1000px;
  text-align: left;
}

.publications-intro {
  font-size: 1rem;
  max-width: 1000px;
  line-height: 1.6;
  margin: 0.8rem auto;
  text-align: justify;
}

/* ========== SEARCH SECTION ========== */
.publications-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1000px;
  margin: 2rem auto 1.5rem auto;
  padding-top: 1rem;
  border-top: 1px solid #000;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  background: #f7f8f6;
  width: 40%;
}

.search-container input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  width: 100%;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-left: 0.5rem;
  object-fit: contain;
}

/* ========== PUBLICATIONS GRID ========== */
.publications-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 4rem;
  max-width: 1000px;
  margin: 2rem auto;
}

.publication-card {
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 10px;
  padding: 0;
  transition: transform 0.2s ease-in-out;
}

.publication-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.publication-title {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 0;
  text-align: justify;
}

.publication-description {
  font-size: 0.95rem;
  text-align: justify;
  line-height: 1.5;
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: normal;
}

.publication-description a {
  word-break: break-all;
  color: #003366;
  text-decoration: underline;
}

/* ========== BUTTONS ========== */
.publication-button {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  border: 2px solid #000;
  padding: 0.4rem 1.2rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.95rem;
  color: #000;
  background-color: white;
  width: fit-content;
  transition: 0.2s ease-in-out;
}

.publication-button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .search-container {
    width: 100%;
  }

  .publications-container {
    grid-template-columns: 1fr;
  }

  .publication-image {
    height: 230px;
  }
}
