@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@400;500&display=swap');

.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #f2c731;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: fit-content;
  max-width: 70%;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 2em;
}

.modal-content p {
  margin: 20px 0;
  font-size: 1.4em;
}

.modal-content button {
  background-color: #244a1e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #9cbc93;
}

#disclaimer-modal {
  display: none;
}

#disclaimer-modal.active {
  display: flex;
}
