/* ===== CMS Layout Container ===== */
.cms-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #DFE8DA;
}

/* ===== Main Content ===== */
.cms-content {
  margin-left: 300px;
  padding: 2rem;
  background-color: #DFE8DA;
  min-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

