<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="vendor/autoload.php"
        colors="true"
        testdox="true"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="API Test Suite">
            <directory>./Test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./Controller</directory>
            <directory suffix=".php">./Model</directory>
            <directory suffix=".php">./Helpers</directory>
            <directory suffix=".php">./Middleware</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage-html"/>
            <text outputFile="coverage.txt"/>
        </report>
    </coverage>
</phpunit>