<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        stopOnFailure="false"
        failOnWarning="false"
        testdox="true"
        displayDetailsOnIncompleteTests="true"
        displayDetailsOnSkippedTests="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="API Test Suite">
            <directory>./Test</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Use a test database or an in-memory SQLite one -->
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASSWORD" value=""/>
        <env name="DB_NAME" value="test_db"/>
    </php>

    <source>
        <include>
            <directory suffix=".php">./src</directory> </include>
    </source>

</phpunit>
